body {
    background-color: #212121;
    color: rgb(221, 221, 221);
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

html {
    height: 100%;
}

#success_err_msg {
    position: fixed;
    display: none;
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    z-index: 10;
}

#topbanner {
    margin: 0px;
    padding-left: 20px;
    padding-top: 20px;
    height: 10%;
    border-bottom: 2px solid #4A4A4A;
}

#topbanner > img {
    margin-right: 20px;
    border-radius: 35px;
}

.topleft {
    float: left;
}

.topleft > h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.topright {
    float: right;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#signin {
    cursor: pointer;
    background-color: 	#7289da;
    border-radius: 5px;
}

#signin > a {
    text-decoration: none;
    color: white;
}

#accountinfo > * {
    float: right;
    margin-right: 5px;
}

#accountinfo > img {
    border-radius: 15px;
}

#signout {
    color: rgb(252, 70, 70);
    border: 2px solid #4A4A4A;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(21, 21, 21);
}

#guildselector {
    border: 2px solid #4A4A4A;
    border-radius: 5px;
    padding: 0px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    height: 35px;
    z-index: 1;
    overflow: hidden;
    transition: height 0.5s;
    background-color: rgb(21, 21, 21);
}

#guildselector > div {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#selectedguild{
    margin: 0px;
    padding: 0px;
}

#selectedguild > div {
    margin: 0px;
    padding: 5px;
    height: 30px;
    width: 300px;
}

#selectedguild > div > img {
    margin-right: 10px;
}

#selectedguild > div > div > i {
    float: right;
    margin: 10px;
    transform: translateY(-50%);
    transition: all 0.5s;
    transform-origin: center;
}

#selectedguildimg {
    border-radius: 15px;
    float: left;
}

.guild {
    margin: 0px;
    height: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: background-color 0.3s;
}

.guild:hover {
    background-color: #4A4A4A;
}

.guild > div {
    margin: 0px;
    float: left;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.guild > img {
    float: left;
    border-radius: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.plugin{
    cursor: pointer;
    width: 100%;
    height: 50px;
    text-align: center;
    transition: background-color 0.3s;
    padding-top: 35px;
}

.plugin:hover {
    background-color: #4A4A4A;
}

#content {
    width: 100%;
    margin: 0px;
}

#content > div {
    margin: 0px;
    padding: 0px;
    display: flex;
}

#pluginlist {
    width: 30%;
    margin: 0px;
    border-right: 2px solid #4A4A4A;
}

#pluginsettings {
    margin: 0px;
    padding-left: 50px;
    width: 100%;
}

#plugintitle {
    height: 70px;
}

#plugintitletxt {
    margin: 0px;
    padding: 0px;
    height: 100%;
    float: left;
}

#plugintitletxt > h1 {
    width: fit-content;
    margin: 0px;
}

#plugintitle > img {
    margin-right: 20px;
    border-radius: 35px;
    float: left;
}

#pluginsettings > p {
    margin: 0px;
    margin-bottom: 30px;
    width: 100%;
    clear: left;
}

ul {
    list-style: none;
}

h2{
    clear: left;
    margin: 0px;
}

input {
    background-color: rgb(45, 45, 45);
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 5px;
}

.list {
    border-left: 1px solid rgb(163, 163, 163);
    width: fit-content;
    height: fit-content;
    padding: 7px;
}

.listwrapper {
    margin-bottom: 10px;
}

.objectwrapper {
    margin-bottom: 10px;
}

.listinput {
    clear: left;
}

.completelistitem{
    clear: left;
    display: flex;
}

.completeobjectfield {
    display: flex;
    margin-bottom: 10px;
}

.completeobjectfield > .inputwrapper + .removeelement {
    display: flex;
    align-items: center;
}

.completeobjectfield > .removeelement:has(+.listwrapper) {
    margin-right: 5px;
}

.object {
    border: 2px solid rgb(163, 163, 163);
    width: fit-content;
    border-radius: 5px;
    padding: 10px;

}

.object > .inputwrapper {
    width: 50%;
}

.addmoretoobject {
    clear: left;
    width: 50%;
    margin-top: 5px;
}

.addmoretoobject > h4 {
    margin: 0px;
    font-style: italic;
}

.addmoretoobject > * {
    margin-right: 5px;
}

select {
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
}

.completelistitem > * > .listwrapper > h2 {
    font-size:large;
}

.addnew {
    clear: left;
}

.addnew > * {
    margin-right: 10px;
}

.addnew > span {
    font-style: italic;
}

.addelement {
    cursor: pointer;
}

.inputwrapper {
    width: fit-content;
}

.removeelement {
    cursor: pointer;
    color: rgb(252, 70, 70);
}

.objectwrapper + .removeelement {
    margin-left: 5px;
}

.listwrapper + .removeelement {
    margin-left: 5px;
}

.savesettings {
    background-color: rgb(19, 140, 19);
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    margin: 5px;
    border: 2px solid rgb(9, 72, 9);
}

.removesettings {
    background-color:rgb(252, 70, 70);
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    margin: 5px;
    border: 2px solid rgb(153, 41, 41);
}

#buttondeck {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

#buttondeck > * {
    float: right;
}

#nocontent {
    padding-left: 20px;
}

p > a {
    color: white;
}

.token, .notoken {
    display: none;
}

.nodisplay {
    display: none;
}